<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- point to the .pptx files. use a fully qualified path. Note: if you drag and drop your slides (not the master!) on the ppt.exe executable, 'yourSlides' in this file will be ignored. -->
    <add key="masterSlides" value="C:\Users\xyz\Downloads\Kickoff-Workshop\MASTER slide deck.pptx" />
    <add key="yourSlides" value="C:\Users\xyz\Downloads\Kickoff-Workshop\product-overview.pptx" />
  </appSettings>
</configuration>
